/** @format */

.prisijungti {
  width: 90px;
  height: 35px;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);
}

button {
  .krepselis {
    width: 90px;
    height: 35px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
  }
}
