/** @format */

:root {
  $color-class-white: #ffffff;
  $color-class-orange: rgb(255, 105, 0);
  $color-class-grey-2: rgb(153, 153, 153);
  $background-grey: rgb(69, 75, 84);

  //   --color-class-yellow-dark: #efdf35;
  //   --color-class-red: #f72121;
  //   --color-class-transparent-grey-14: #48484880;
  //   --color-class-transparent-grey-3: #b6b6b6b0;
  //   --color-class-transparent-grey-1: #ffffff96;
  //   --color-class-black: #000000;
  //   --color-class-grey-16: #2b2b2b;
  //   --color-class-grey-15: #393939;
  //   --color-class-grey-14: #484848;
  //   --color-class-grey-13: #494949;
  //   --color-class-grey-12: #5e5e5e;
  //   --color-class-grey-11: #696969;
  //   --color-class-grey-10: #767676;
  //   --color-class-grey-9: #777777;
  //   --color-class-grey-8: #8a8a8a;
  //   --color-class-grey-7: #919191;
  //   --color-class-grey-6: #979797;
  //   --color-class-grey-5: #a1a1a1;
  //   --color-class-grey-4: #afafaf;
  //   --color-class-grey-3: #b3b3b3;

  //   --color-class-grey-1: #f5f5f5;
}
